/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.welcome_message {
    font-size: 50px;
    font-size: 	Copperplate;
    padding-top: 0px;
    padding-left: 150px;
}

.welcome_description {
    font-size: 15px;
    width: 600px;
    padding-left: 150px;
    padding-top: 20px;
    line-height: 30px;
    font-family: Papyrus;
}

.about_heading {
    font-size: 30px;
    font-family: Times New Roman;
    padding-bottom: 15px;
}

.about_description {
    padding-bottom: 15px;
    line-height: 25px;
}

.bullet_points {
    width: 600px;
    line-height: 25px;
    padding-bottom: 15px;
}

.data_analyst {
    padding-bottom: 15px;
    line-height: 25px;
}

.contact_me {
    font-size: 40px;
    padding-left: 720px
}



/* Add to the existing style.css */
#contact-form input, #contact-form textarea {
    display: block; /* Makes each input field and the textarea take up the full width of its parent container */
    width: 90%; /* Adjusts the width to fit within the form, change as needed */
    margin: 10px auto; /* Adds margin to the top and bottom, auto centers it horizontally */
    padding: 10px; /* Adds some padding inside the fields for better text visibility */
}

#contact-form button {
    display: block; /* Ensures the button is also a block-level element */
    width: 94%; /* Adjust width as needed, considering padding */
    padding: 10px; /* Adds padding for better visual appeal */
    margin: 10px auto; /* Centers the button and adds margin like the other elements */
    background-color: #007bff; /* Example button color, adjust as needed */
    color: white; /* Adjust text color as needed */
    border: none;
    cursor: pointer; /* Changes the mouse cursor to indicate the button is clickable */
}

#contact-form button:hover {
    background-color: #0056b3; /* Darker shade for hover effect, adjust as needed */
}

.content {
    display: flex;
    align-items: center; /* This will vertically center the items in the container */
    justify-content: space-between; /* This adds space between the text and the image */
}

.text {
    flex: 1; /* This allows the text container to grow and take up the remaining space */
    padding-right: 20px; /* Add some space between the text and the image */
}

.image {
    flex: 0 1 auto; /* This allows the image container to grow but also shrink if needed, without pushing the text out of its container */
    max-width: 60%; /* Adjust this value based on your needs */
    
    
   
}
